.Autono-In-Numbers{
    font-family: "montserrat", sans-serif;
    
}


.Autono-In-Numbers-heading p{
font-size: clamp(18px,1.8vw,24px);
letter-spacing: 3px;
font-weight: 400;
}

.numbers-right-wrapper{

    gap: clamp(65px,5.5vw,75px);
}

.Autono-In-Numbers-stat-number{
font-size: clamp(28px,3vw,40px);
letter-spacing: 3px;
}

.Autono-In-Numbers-stat-number p{ 
 border-bottom: 1px solid rgba(0, 0, 0, 0.562);
 padding-bottom: 5px !important;

}

.Autono-In-Numbers-stat-number p>span{ 
 border-bottom: 3px solid rgb(0, 0, 0);
 padding-bottom: 10px !important;
}


.Autono-In-Numbers-stat-content{
    font-size: clamp(12px,1vw,14px);
    letter-spacing: 2px;
    padding-top: 20px !important;
}

.w-65{
    width:clamp(100px,14.8vw,200px) ;
}

.gap-6{
  gap: 70px;
}