
        .your-class {
            margin-bottom: 50px;
        }
 
        .your-class .slick-dots {
            color: white;
            text-align: left !important;
            padding-left: 0;
            bottom: -35px;
            left: 30%;
            width: auto;
        }
 
        .your-class img {
            width: 100%;
            border-radius: 8px;
        }
 
        .slider-section {
            padding: 20px 0;
        }
 
        .main-wrapper {
            width: 420px;
            height: 540px;
        }
 
        .carousel-border {
            min-width: 2px;
            min-height: 100%;
            background-color: rgba(255, 255, 255, 0.734);
            margin: 0px 20px;
        }
 
        .slick-dots li button:before {
            display: none;
        }
       
        .slick-dots li button {
            background-color: rgba(159, 156, 156, 0.665);
            width: 8px;
            height: 8px;
            border-radius: 50%;
           
        }
       
        .slick-dots li.slick-active button {
            background-color: rgb(255, 255, 255);
        }
