
.grid-container{
    font-family: montserrat, sans-serif;
}


.grid-main-content-wrapper {
    width: clamp(200px,25.1vw,340px);
}
.grid-main-service-content-wrapper {
    width: clamp(280px,25.1vw,340px);
}

.grid-services-text h3{
    letter-spacing: 2px;
 font-size: clamp(11px,1.05vw,14px);

}

.grid-head-text  h3{
 letter-spacing: 2px;
 font-size: clamp(22px,3vw,40px);
 line-height: clamp(28px,4.5vw,60px);
 font-weight: 400;
 
}

.grid-main-head-text{
      font-size: clamp(18px,1.9vw,24px);
    line-height:clamp(24px,3.1vw,42px) ;
    font-weight: 400;
    letter-spacing: 2px;
}


.grid-para p{
    font-size: clamp(12px,1.2vw,16px);
    line-height: clamp(20px,1.9vw,26px);
    letter-spacing: 0.5px;
}
