body{
    overflow-x: hidden;
}





.industry-wh-border{
    
    min-width: 2px ;
    min-height: 100%;
}

.industry-wh-border-thick{
    min-width: 4px;
    max-height: 20%;
    z-index: 3;
}

.industry-head-text  h3{
 letter-spacing: 2px;
 font-size: clamp(11px,1.05vw,14px);
}


.industry-main-head-text p{
    font-size: clamp(18px,1.9vw,24px);
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 2px;
}

.industry-para p{
    font-size: clamp(12px,1.2vw,16px);
    line-height: 26px;
    letter-spacing: 0.5px;
    width: clamp(280px,35vw,280px);
}


.logo{
width: 160px;
height: 160px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo-image img{
    width: 140px;
    height: 140px;
    object-fit: contain;
}